# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# git files
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
.git export-ignore
.metadata export-ignore
uk.ac.reading.sis05kol.mooc export-ignore
v1.java export-ignore
v2.java export-ignore
#v3.java export-ignore
v4.java export-ignore
v5.java export-ignore
v6.java export-ignore
week5 updategameAlgorithm.txt export-ignore
